body {
	background: black;
}
* {
	border: 1px dashed red;
	min-height: 10px;
}

.postcard {
	background-color: white !important;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}
.postcard-header img {
	width: 50px;
	height: 50px;
	padding: 5px;
}
.postcard-header h1 {
	width: 400px !important;
	margin: 0;
	padding: 5px;
}

.postcard-body {
	display: flex;
}
body-left p:first-child {
	margin-top: 0 !important;
}
.body-left,
.body-right {
	padding: 5px !important;
	text-align: justify;
}
.body-left p {
	font-size: 15px;
}
input {
	border-bottom: grey 1px solid !important;
	border: none;
	color: gray;
	font-size: 15px;
	padding: 2px;
}

.postcard-footer {
	text-align: center;
	margin: auto;
}
button {
	background-color: darkgray;
	padding: 1px;
}
